@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex: 100%;
    background-color: rgb(231, 231, 231);
    height: 10vh;
    padding-bottom: 1vh;
    border-bottom: solid 3px rgba(0, 0, 0, 0.300);
    font-family: 'Monoton', cursive;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    flex: 100%;
    align-items: center;
}
nav ul li{
    font-size: 2em;
    padding-right: 1em;
}
nav ul li:first-child{
    margin-right: auto;
    font-size: 4em;
}
nav ul li:nth-child(2){
    margin-right: auto;
}

#hero{
    background-color: white;
    height: 90vh;
    width: 95vw;
    object-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;
    margin-left: 40px;
    margin-right: auto;
}

section{
    display: flex;
    flex: 100%;
    flex-direction: row;
}
section ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 44vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
section ul::-webkit-scrollbar {
    display: none;
  }
section div{
    display: flex;
    flex: 16%;
    width: 20vw;
    background-color: gray;
    align-items: center;
    justify-content: center;
}
section div h2{
    margin: 20px;
    font-size: 25px;
}
section p{
    margin: 12px;
    margin-top: 160px;
    font-size: 2em;
    width: 10em;
    font-family: 'Monoton', cursive;
}
.box{
    border: solid 4px gray;
    margin: 20px;
    width: 20vw;
    height: 30vh;
    font-family: 'Monoton', cursive;
    font-size: 2em;
}
.box img{
    width: 20vw;
    height: 30vh;
    object-fit: cover;
}

footer{
    background-color: rgb(58, 58, 58);
    height: 30vh;
}




@media only screen and (max-width: 1500px){
    #hero{
        object-fit: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 100%;
    }
}
@media only screen and (max-width: 1400px) {
    section div{
        display: none;
    }
    #hero{
        display: none;
    }
    .box{
        font-size: 1.5em;
    }
    nav ul li{
        font-size: 1.5em;
    }
    nav ul li:first-child{
        font-size: 2em;
        margin-left: 1vw;
    }
}